*, *::before, *::after {
    box-sizing: border-box;
}

img{
    width: 100%;
}

body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.nav {
    background: #021526;
    padding: 20px 0;
}

.intro {
    /* background: rgb(3,52,110);
    background: linear-gradient(0deg, rgba(3,52,110,1) 0%, rgba(2,21,38,1) 100%); */
    background: rgb(2,35,74);
    background: linear-gradient(0deg, rgba(2,35,74,1) 0%, rgba(2,21,38,1) 100%);

    padding: 10px 0;
}

.intro__greeting {
    color: #6EACDA;
}

.intro__name {
    color: #E2E2B6;
}

.custom-shape-divider-top-1731643945 {
    position: absolute;
    top: -100;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1731643945 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1731643945 .shape-fill {
    fill: #02234a;
}


.facts-section {
    background-color: #021526;
    
}

.facts-grid {
    padding: 170px 0;
    display: grid;
    gap: 2em;
    grid-template-areas: 
     'one'
     'two'
     'three'
     'four'
     'five'
     'six';
}

.fact-col {
    background-color: #09192e;
    border-radius: 1rem;
    text-align: center;
    padding: 2em;
}

.icon__size {
    max-width: 193.594px;
}

.philippine-flag {
    
}

.basketball-icon {
    
}

.adobo-icon {

}

.ivos-icon {
    border-radius: 100px;
}

.eric-barone-logo {
    border-radius: 100px;
}

.fact-col:nth-child(1) {
    grid-area: one;
}

.fact-col:nth-child(2) {
    grid-area: two;
}

.fact-col:nth-child(3) {
    grid-area: three;
}

.fact-col:nth-child(4) {
    grid-area: four;
}

.fact-col:nth-child(5) {
    grid-area: five;
}

.fact-col:nth-child(6) {
    grid-area: six;
}


@media (min-width: 1400px){
    .facts-grid{
        grid-template-areas: 
        'one one two five'
        'three four four six'
        
    }

    .fact-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon__size{
        max-width: 100px;
    }

    p{
        font-size: 1.3rem;
    }
}